:root {
  --pounamu-50: #e3fbf5;
  --pounamu-100: #c5f7ea;
  --pounamu-150: #a7f1e0;
  --pounamu-200: #96e8d5;
  --pounamu-300: #77d3bf;
  --pounamu-400: #60bba9;
  --pounamu-500: #45a391;
  --pounamu-600: #278979;
  --pounamu-700: #046d5e;
  --pounamu-800: #004d3f;
  --pounamu-900: #00281c;
  --pounamu-950: #000e05;

  --lupin-50: #fef0fa;
  --lupin-100: #fce1f5;
  --lupin-200: #f7c2ea;
  --lupin-300: #efa2dd;
  --lupin-400: #dc87c9;
  --lupin-500: #c370b0;
  --lupin-600: #a75797;
  --lupin-700: #8a3c7a;
  --lupin-800: #6a1d5d;
  --lupin-900: #3e0134;
  --lupin-950: #1c0016;

  --neutral-25: #fafaf9;
  --neutral-50: #f5f4f3;
  --neutral-100: #ebeae7;
  --neutral-150: #e1dfdc;
  --neutral-200: #d7d4d0;
  --neutral-300: #c2beba;
  --neutral-400: #aba7a3;
  --neutral-500: #93908c;
  --neutral-600: #7b7773;
  --neutral-700: #605d5a;
  --neutral-800: #44413e;
  --neutral-850: #34312e;
  --neutral-900: #23201d;
  --neutral-925: #161412;
  --neutral-950: #0a0806;
  --neutral-1000: #000000;

  --wr-gap-base: 0.25rem;
  --wr-gap-scale: 1.5;

  --wr-padding-site-gutter: 0px;

  --wr-height-header-content: 2rem;
  --wr-height-page: 100svh;

  --wr-width-site: 80rem;
  --wr-width-prose: 80ch;

  --wr-text-size: 1rem;
  --wr-text-scale: 1.2;
}

:root {
  --background: hsl(39 16% 98%);
  --foreground: hsl(210 5% 10%);
  --muted: hsl(39 17% 95%);
  --muted-foreground: hsl(39 5% 49%);
  --card: hsl(39 17% 91%);
  --card-foreground: var(--foreground);
  --area: var(--card);
  --area-foreground: var(--card-foreground);
  --popover: hsl(0 0% 100%);
  --popover-foreground: var(--foreground);
  --primary: hsl(66 100% 73%);
  --primary-foreground: hsl(66 100% 15%);
  --secondary: hsl(290 100% 94%);
  --secondary-foreground: hsl(290 100% 29%);
  --accent: hsl(154 83% 91%);
  --accent-foreground: hsl(154 79% 23%);
  --destructive: hsl(0 50% 50%);
  --destructive-foreground: hsl(32 5% 98%);
  --border: hsl(0 0% 100%);
  --input: var(--border);
  --ring: var(--primary);
  --radius: 0.75rem;
}

.dark {
  --background: hsl(32 10% 10%);
  --foreground: hsl(32 5% 98%);
  --card: hsl(32 6% 10%);
  --card-foreground: hsl(32 5% 98%);
  --popover: hsl(32 10% 5%);
  --popover-foreground: hsl(32 5% 98%);
  --primary: hsl(32 14% 37%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(32 10% 20%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(-6 10% 25%);
  --muted-foreground: hsl(32 5% 65%);
  --accent: hsl(-6 10% 25%);
  --accent-foreground: hsl(32 5% 95%);
  --destructive: hsl(0 50% 50%);
  --destructive-foreground: hsl(32 5% 98%);
  --border: hsl(32 20% 50%);
  --input: hsl(32 20% 50%);
  --ring: hsl(32 14% 37%);
}

@media (min-width: 450px) {
  :root {
    --wr-gap-scale: 1.8;
    --wr-padding-site-gutter: calc(var(--wr-gap-base) * var(--wr-gap-scale) * var(--wr-gap-scale) * var(--wr-gap-scale) / 2);
    --wr-text-size: 1rem;
    --wr-text-scale: 1.225;
  }
}

@media (min-width: 850px) {
  :root {
    --wr-gap-scale: 2;
    --wr-text-size: 1rem;
    --wr-text-scale: 1.25;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground;
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

* {
  @apply border-border;
}
