:root {
  --kowhai: oklch(0.96 0.2 113);

  --pounamu-50: oklch(0.97 0.03 179);
  --pounamu-100: oklch(0.94 0.05 177);
  --pounamu-150: oklch(0.9 0.08 179);
  --pounamu-200: oklch(0.87 0.08 178);
  --pounamu-300: oklch(0.8 0.09 178);
  --pounamu-400: oklch(0.73 0.09 179);
  --pounamu-500: oklch(0.65 0.09 179);
  --pounamu-600: oklch(0.57 0.09 180);
  --pounamu-700: oklch(0.48 0.09 179);
  --pounamu-800: oklch(0.38 0.07 175);
  --pounamu-900: oklch(0.25 0.05 168);
  --pounamu-950: oklch(0.14 0.03 157);

  --lupin-50: oklch(0.97 0.02 336);
  --lupin-100: oklch(0.94 0.04 335);
  --lupin-200: oklch(0.87 0.08 335);
  --lupin-300: oklch(0.81 0.12 335);
  --lupin-400: oklch(0.73 0.13 336);
  --lupin-500: oklch(0.66 0.13 336);
  --lupin-600: oklch(0.57 0.13 335);
  --lupin-700: oklch(0.48 0.13 336);
  --lupin-800: oklch(0.38 0.13 335);
  --lupin-900: oklch(0.25 0.11 336);
  --lupin-950: oklch(0.15 0.07 337);

  --neutral-0: oklch(1 0 0);
  --neutral-25: oklch(0.98 0 106);
  --neutral-50: oklch(0.97 0 68);
  --neutral-100: oklch(0.94 0 92);
  --neutral-150: oklch(0.9 0 78);
  --neutral-200: oklch(0.87 0.01 75);
  --neutral-300: oklch(0.8 0.01 68);
  --neutral-400: oklch(0.73 0.01 68);
  --neutral-500: oklch(0.65 0.01 75);
  --neutral-600: oklch(0.57 0.01 68);
  --neutral-700: oklch(0.48 0.01 68);
  --neutral-800: oklch(0.38 0.01 68);
  --neutral-850: oklch(0.32 0.01 68);
  --neutral-900: oklch(0.25 0.01 67);
  --neutral-925: oklch(0.19 0.01 67);
  --neutral-950: oklch(0.14 0.01 71);
  --neutral-1000: oklch(0 0 0);

  --wr-gap-base: 0.25rem;
  --wr-gap-scale: 1.5;

  --wr-padding-site-gutter: 0px;

  --wr-height-header-content: 2rem;
  --wr-height-page: 100svh;

  --wr-width-site: 80rem;
  --wr-width-prose: 80ch;

  --wr-text-size: 1rem;
  --wr-text-scale: 1.2;
}

:root {
  --background: var(--neutral-25);
  --foreground: var(--neutral-900);
  --card: var(--neutral-50);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: var(--pounamu-150);
  --primary-foreground: var(--pounamu-800);
  --secondary: var(--kowhai);
  --secondary-foreground: var(--foreground);
  --muted: var(--neutral-100);
  --muted-foreground: var(--neutral-600);
  --accent: var(--pounamu-50);
  --accent-foreground: var(--pounamu-700);
  --destructive: oklch(0.95 0.02 30);
  --destructive-foreground: oklch(0.54 0.21 31);
  --border: var(--neutral-0);
  --input: var(--pounamu-50);
  --input-bg: var(--neutral-0);
  --ring: var(--pounamu-400);
  --link: var(--accent-foreground);
  --radius: 0.75rem;
}

.dark {
  --background: var(--neutral-25);
  --foreground: var(--neutral-900);
  --card: var(--neutral-50);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: var(--pounamu-150);
  --primary-foreground: var(--pounamu-800);
  --secondary: var(--kowhai);
  --secondary-foreground: var(--foreground);
  --muted: var(--neutral-100);
  --muted-foreground: var(--neutral-600);
  --accent: var(--pounamu-50);
  --accent-foreground: var(--pounamu-700);
  --destructive: oklch(0.95 0.02 30);
  --destructive-foreground: oklch(0.54 0.21 31);
  --border: var(--neutral-0);
  --input: var(--pounamu-50);
  --input-bg: var(--neutral-0);
  --ring: var(--pounamu-400);
  --link: var(--accent-foreground);
}

@media (min-width: 450px) {
  :root {
    --wr-gap-scale: 1.8;
    --wr-padding-site-gutter: calc(var(--wr-gap-base) * var(--wr-gap-scale) * var(--wr-gap-scale) * var(--wr-gap-scale) / 2);
    --wr-text-size: 1rem;
    --wr-text-scale: 1.225;
  }
}

@media (min-width: 850px) {
  :root {
    --wr-gap-scale: 2;
    --wr-text-size: 1rem;
    --wr-text-scale: 1.25;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground;
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

* {
  @apply border-border;
}
